.feature-rows__container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.feature-rows__container img {
    height: auto;
}


.feature-rows__info {
    width: 100%;
}

.feature-rows__info .section-label {
    width: fit-content;
}

.feature-rows__info .feature-text {
    border-radius: 10px;
    padding: 30px 20px;
}

.feature-rows__info .feature-text > * {
    margin-top: 0;
}

.feature-rows__info .feature-text ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 990px) {
    .feature-rows__container > div {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .feature-rows__container img {
        max-width: 660px;
    }


    .feature-rows__info {
        max-width: 585px;
    }
}