.feature-columns__columns {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.feature-columns__column-item {
    border-radius: 20px;
    padding: 10px;
}

.feature-columns__column-item img {
    width: 100%;
    max-height: 267px;
    height: 100%;
    object-fit: cover;
}

.feature-columns__column-item .feature-text {
    padding: 20px;
    border-radius: 10px;
}

.feature-columns__column-item .feature-text > * {
    margin-top: 0;
}

.feature-columns__column-item .feature-text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 990px) {
    .feature-columns__columns {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .feature-columns__column-item {
        padding: 40px;
    }
}
